body {
  margin-top: 4rem;
  /*  background-image: linear-gradient(130deg, black, white); */
  background-image: url("https://images.unsplash.com/photo-1614862053138-10ca7a58866e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1225&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
